body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover {
    background-color: #575757;
}
.content {
    padding: 20px;
    text-align: center;
}
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.hidden {
    display: none;
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}
table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #4CAF50;
    color: white;
}
#home
{
    background-color: #4CAF50;
    text-align: center;
}
